@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



.input
{
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input input 
{
  padding: 14px 10px;
  width: 400px;
  background-color: rgba(7, 28, 150, 0.267);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  font-size: 16px; 
  border: transparent;
}
::placeholder {
  font-size: 16px; 
}
.images
{

  display: flex;
  align-items: center;
  justify-content: flex-start; 
  height: 80%;
  width: 80%;
  flex-wrap: wrap;
  gap: 14px; 
  margin-left: 10%;  

}
.img-box
{
  height: 250px;
  margin-top: 10px;
  width: 255px; 
  border-radius: 10px;box-shadow: rgba(7, 82, 153, 0.295) 1.95px 1.95px 2.6px;
} 
.img-box img
{
  width: 100%;
}
.button
{
  position: fixed;
  right: 5%;
  bottom: 5%;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: transparent;
  cursor: pointer;
  background-color: purple;
}
.list
{
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 80%;
  width: 80%;
  flex-wrap: wrap;
  gap: 14px; 
  margin-left: 10%; 
}
.list .img-box
{
  height: 430px;
  margin-top: 10px;
  width: 455px; 
}
.btn-list
{
  transform: rotate(90deg);

  position: fixed;
  right: 5%;
  bottom: 5%;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: transparent;
  cursor: pointer;
  background-color: purple;
}